@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Princess+Sofia&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&family=Salsa&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #4A5568 !important;
    padding: 10px 135px;
}

.navbar-brand {
    font-family: 'Princess Sofia', cursive;
    color: #F7FAFC !important;
    font-size: 24px;
}

.navbar-nav {
    margin-left: 30px;
}

.nav-item .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #CCC !important;
    font-weight: 500;
}

.nav-item .nav-link.active {
    color: #fff !important;
}

.navbar-person img {
    object-fit: contain;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}


.navbar-cart .btn {
    width: 96px;
    height: 36px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 0px solid #EF9814;
    background: #EF9814;
}

/* Log in form starts */
.navbar-cart img {
    object-fit: contain;
    margin-right: 10px;
}

.header .dropdown .btn-1 {
    background: transparent;
    border: none;
}

.header .dropdown .btn:focus {
    box-shadow: none;
}

.header .dropdown-menu {
    padding: 15px 25px;
    width: 350px;
    background: #4A5568;
    border: 1px solid #4A5568;
    border-radius: 0;
    margin-top: 15px;
    margin-left: -70px;
    color: #fff;
}

.header .dropdown-menu p {
    font-family: 'Raleway', sans-serif;
}

.header .form-group .btn {
    height: 52px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header .form-group .btn:hover {
    background: #EF9814;
    border: 1px solid #EF9814;
}

/* Log in form ends */


.navbar-cart img {
    object-fit: contain;
    margin-right: 10px;
}

@media only screen and (max-width: 991px) {
    .navbar {
        padding: 10px 50px;
    }

    button.navbar-toggler {
        background: #EF9814;
        width: 56px;
        height: 36px;
        border: 1px solid #EF9814;
    }

    button.navbar-toggler:focus {
        border: 1px solid #EF9814;
        outline: 0 !important;
    }

    .header .dropdown-menu {
        margin-top: 40px !important;
        margin-left: -51px !important;
    }

}

@media only screen and (max-width: 576px) {
    .navbar {
        padding: 10px 20px;
    }

    .header .dropdown-menu {
        width: auto !important;
        margin-left: -21px !important;
    }
}

section {

    .row {
        background: url(/assets/images/showbar.png) lightgray 50% / cover no-repeat;
        position: relative;
        padding: 50px 130px;
    }

    .heading {
        padding: 80px 60px 18px 100px;
        font-family: 'Raleway', sans-serif;
    }

    .heading h2 {
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        width: 265px;
        padding: 4px 8px;
        background: rgba(0, 0, 0, 0.65);
    }

    .heading p {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 400;
        width: 420px;
        background: rgba(0, 0, 0, 0.65);
        padding-left: 7px;
        margin-top: 15px;
    }

    .heading .btn {
        padding: 0 12.5px;
        height: 52px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 4px;
        border: 0px solid #3D81F5;
        background: #3D81F5;
        box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.25);
    }

    @media only screen and (max-width: 1024px) {
        .row {
            padding: 15px 80px;
        }
    }

    @media only screen and (max-width: 768px) {
        .row {
            padding: 10px 30px;
        }

        .row .heading {
            padding: 80px 650px 18px 90px;
        }

    }

    @media only screen and (max-width: 576px) {
        .row {
            padding: 10px;
            background: url(/assets/images/show.png) lightgray 50% / cover no-repeat;
            position: relative;
        }

        .row .heading {
            padding: 50px 0px 18px 5px;
        }


    }

    @media only screen and (max-width: 450px) {
        .row .heading p {
            width: auto;
        }

    }

    @media only screen and (max-width: 300px) {
        .row .heading h2 {
            width: auto;
        }
    }
}


.cont {
    padding: 20px 130px 120px 130px;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;

    .p {
        color: #333;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    .row-2 a {
        text-decoration: none;
    }

    .card {
        width: 190px;
        height: 350px;
        border: none;
        border-radius: 0;
        cursor: pointer;
        margin-top: 10px;
        margin-left: -15px;
    }


    .card p {
        color: #333;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }

    .card img {
        border-radius: 0;
    }

    .card .price {
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

    .card-body {
        padding-left: 0;
    }

    .card-2 {
        border-radius: 4px;
        border: 0px solid #333;
        background: #333;
        width: 190px;
        height: 200px;

    }

    .row-6 {
        color: #fff;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1024px) {
    .card {
        width: auto !important;
        height: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    .cont {
        padding: 20px 60px;
    }
}

@media only screen and (max-width: 645px) {
    .cont {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 400px) {
    .cont {
        padding: 15px;
        width: 100%;
    }

    .card {
        width: auto;
    }

    .card-2 {
        height: auto !important;
        font-size: 12px;
        width: auto !important;
    }
}

.footer {
    padding: 10px 120px 20px 120px;

    .details p {
        color: #AAA;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
    }

    .details ul li {
        list-style: none;
    }

    .details ul li a {
        text-decoration: none;
        color: #1451B8;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 10px 50px 20px 50px;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
        padding: 30px 10px 20px 10px !important;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        padding: 30px 10px 20px 10px !important;
    }
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.modal-content {
    margin-top: 100px;
    padding: 30px 60px 40px 60px;
    font-family: 'Raleway', sans-serif;
}

.modal-content form .form-group {
    padding-top: 15px;

}

.modal-content .form-control {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-size: 12px;
    font-weight: 500;
}

.modal-content .form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
}


.modal-content .form-check {
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.modal-content .form-check-input {
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    cursor: pointer;
}

.modal-content form .btn {
    height: 52px;
    border-radius: 4px;
    border: 0px solid #3D81F5;
    background: #3D81F5;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
}

.modal-content .close {
    font-size: 40px;
    font-weight: 400;
}

.modal-content .close:focus {
    outline: 0 !important;
}

@media only screen and (max-width: 400px) {
    .modal-content {
        margin-top: 50px;
        padding: 30px 30px 40px 30px;

    }
}